:root {
    --text-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --header-span-color: #000000;
    --accent-text-color: #FFFFFF;
    --footer-link-color: #ffffff99;
    --desk-link-color: #757575;
    --text-subtitle-color: #212121;
    --our-team-color: #F5F4FA;
    --footer-color: #2F303A; 
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



/* ========== HEADER ========== */

.logotype {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-span {
    font-family: var(--title-font);
    color: var(--header-span-color);
}

.studio-link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}
.studio-link2, .studio-link3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-subtitle-color);
}

.studio-link1:hover, .studio-link2:hover, .studio-link3:hover,
.studio-link1:focus, .studio-link2:focus, .studio-link3:focus {
    color: var(--accent-color);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--desk-link-color);
}

.contacts-link:hover, 
.contacts-link:focus {
    color: var(--accent-color);
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    font-size: 16px;
    line-height: 1.185;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--header-span-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* ========== END HERO ========== */

/* ========== FEATURE ========== */


.feature-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-subtitle-color);
}

.deskcription {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--desk-link-color);
}

/* ========== END FEATURE ========== */

/* ========== WHAT WE DO ========== */

.we-do-title, .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-subtitle-color);
}

/* ========== END WHAT WE DO ========== */

/* ========== OUR TEAM ========== */

.our-team {
    background-color: var(--our-team-color);
}
.our-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.267;
    letter-spacing: 0.03em;
    color: var(--text-subtitle-color);
}

.our-team-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--desk-link-color);
}

/* ========== END OUR TEAM ========== */

/* ========== FOOTER ========== */

.footer-span {
    color: var(--accent-text-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.address-link-map {
    color: var(--accent-text-color);
    text-decoration: none;
}

.address-link {
    color: var(--footer-link-color);
}

.footer { 
    background-color: var(--footer-color);
}
/* ========== END FOOTER ========== */

/* ========== HEADER PORTFOLIO ========== */

.portfolio-link1:hover, .portfolio-link2:hover, .portfolio-link3:hover,
.portfolio-link1:focus, .portfolio-link2:focus, .portfolio-link3:focus {
    color: var(--accent-color);
}

.portfolio-link2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}
.portfolio-link1, .portfolio-link3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-subtitle-color);
}

    /* ========== HEADER PORTFOLIO ========== */

/* ========== HERO PORTFOLIO ========== */


.buttons { 
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--text-subtitle-color);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    cursor: pointer;
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-subtitle-color);
    cursor: pointer;
}

.portfolio-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--desk-link-color);
    cursor: pointer;
}

/* ========== END HERO PORTFOLIO ========== */

