:root {
    --text-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --color-logotype: #2196F3;
    --color-logo-span1: #000000;
    --color-logo-span2: #FFFFFF;
    --color-navigation: #2196F3;
    --color-contacts-link: #757575;
    --color-hover-focus: #2196F3;
    --text-deskcription: #757575;
    --text-subtitle: #212121;
    --our-team-color: #F5F4FA;
    --footer-color: #2F303A;
    --color-text-buttons: #212121;
}


body {
    font-family: "Roboto", sans-serif;
}

/* ========== HEADER ========== */

.logotype {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-logotype);
}

.span1 {
    font-family: var(--title-font);
    color: var(--color-logo-span1);
}

.navigation-list, .contacts-list, .feature-list,
.we-do-list, .our-team-list, .address-list,
.portfolio-list {
    list-style: none;
    padding-left: 0;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--text-subtitle);
    text-decoration: none;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--color-navigation);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--color-contacts-link);
    text-decoration: none;
}

.contacts-link:hover, 
.contacts-link:focus {
    color: var(--color-hover-focus);
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /*color: #FFFFFF;*/
}

.hero-button {
    font-size: 16px;
    line-height: 1.185;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

/* ========== END HERO ========== */

/* ========== FEATURE ========== */


.feature-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-subtitle);
}

.deskcription {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--text-deskcription);
}

/* ========== END FEATURE ========== */

/* ========== WHAT WE DO ========== */

.we-do-title, .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-subtitle);
}

/* ========== END WHAT WE DO ========== */

/* ========== OUR TEAM ========== */

.our-team {
    background-color: var(--our-team-color);
}
.our-team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.267;
    letter-spacing: 0.03em;
    color: var(--text-subtitle);
}

.our-team-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color:var(--text-deskcription);
}

/* ========== END OUR TEAM ========== */

/* ========== FOOTER ========== */

.span2 {
    color: var(--color-logo-span2);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.address-link-map {
    color: #FFFFFF;
    text-decoration: none;
}

.address-link {
    color: #ffffff99;
    text-decoration: none;
}

.footer { 
    background-color: var(--footer-color);
}
/* ========== END FOOTER ========== */

/* ========== HERO PORTFOLIO ========== */

.buttons { 
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text-buttons);
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover,
.button2:focus, .button2:focus, .button3:focus, .button4:focus, .button5:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--color-hover-focus);
    
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-subtitle);
    cursor: pointer;
}

.portfolio-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-deskcription);
    cursor: pointer;
}

/* ========== END HERO PORTFOLIO ========== */

